.MyLayout{
  height: 100vh;
}
.demo-logo-vertical img{
  width: 50%;
  height: 50%;
  border-radius: 15px;
  margin: 16px auto;
  display: block;
}

.login-container{
  height: 100vh;
  background:  no-repeat url('./assets/login-bg.jpg') 100% 100%;
}